.ajax-preloader{
    width: 135px;
    position: absolute;
    margin-left: -33px;
}
#datasheet-pdf{
    position: absolute;
    top: 0;
    width: 100%
}
#btn-datasheet-print{
    top: 10px;
    position: absolute;
    right: 90px;
}
#btn-datasheet-cancel{
    position: absolute;
    right: 22px;
    top: 10px;
}
.hide{display: none;}


*{  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  }
.navbar-default {
    border-radius: 3px;
    display: flex;
    height: 100px;

}
.map-content{
    width: 130px;
    height: 50px;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    color: white;
    position: absolute;
    box-sizing: border-box;
}

#features thead{
    background-color: #F9F9F9;
    color: #2f2019;
}
#features tbody td{

}
#features td.value1  {
    background-image: linear-gradient(to left, #faebc4 , #fdfdfd);
    color: #2f2019;
}
#features td.value2 {
    background-image: linear-gradient(to right, #faebc4 , #fdfdfd);
    color: #2f2019;

}
#features .name {
    -webkit-print-color-adjust: exact;
    color: white;
    padding-left: 10px;
    text-align: center;
}
#features .attribute-heading{
    -webkit-print-color-adjust: exact;
    color: white;
    padding-left: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #432918;
}

#image1,#image3{
    float: left;
}
#image4,#image6{
    float: right;
}
#image1,#image2,#image3,#image4,#image5,#image6{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: inherit;
}

ul#gallery-images li{
    float: left;
    list-style: none;
    margin-left: 2px;
    margin-right: 2px;
}
ul#gallery-images li img{
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px;

}
ul#gallery-images li img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
ul#gallery-images {
    margin-left: -30px;
    margin-top: -90px;
    background-color: white;
}

@media print {
    *{  -webkit-print-color-adjust: exact;  }
    nav .nav-left li{
        padding-left: 5px;
        padding-right: 5px;
        margin: 0;
    }
    nav .nav-left{
        float: none;
    }
    #image1,#image2,#image3,#image4,#image5,#image6{
    }
    ul#gallery-images li img {
        width: 80px;
    }

    ul#gallery-images{
        margin-top: -78px;
    }
}
.pull-left{ float: left; }
.pull-right{ float: right; }
header .box
{
    border: 1px solid white;
    color: white;
    padding: 5px;
    border-radius: 2px;
}
header .name
{
    display: block;
    font-size: 20px;
}
header .value
{
    display: block;
    margin-top: 3px;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;

}
header .price
{
    border: none;
    font-size: 2.9em;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
header .area-name
{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 2px;
    font-size: 1.5em;
    word-break: break-all;
    line-height: 1.2;
}
.clearfix{clear: both;}
.img-responsive{width: 100%;}
.mt5{  margin-top: 5px;  }
.mb5{ margin-bottom: 5px;}
.mt60{margin-top: 60px;}
.pl20{padding-left: 20px}
.pr20{padding-right: 20px}
.col{  width: 49.99%; height: 100%;float: left;  }
.col-right{float: right; width: 68%; border: 1px solid #683c11;  padding: 5px;}
.col-left{float: left; width: 28.5%; border: 1px solid #683c11;  padding: 5px;}
.row:before,
.row:after {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}
.navbar-default {
    color: white;
    text-decoration: none;
    overflow: hidden;
    -webkit-print-color-adjust: exact ;
}
.container{
    width: 100%;
}
.img-thumbnail,.img-map
{
    height: 220px; width: 100%;
    -webkit-print-color-adjust: exact;
}
.panel-heading{
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.table{
    width: 100%;
    height: 100%;
}
#footer
{
    color: #49494a;
    border: 2px solid #683c11;
    border-radius: 30px 0 0 30px;
    padding: 5px;
}
#cities{
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center -4px;
}

.emp-photo-abs {
    width: 150px;
    height: 150px;
}
.emp-photo-abs {
    /*margin-left: 5px;*/
    text-align: center;
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #5b442f;
}
.emp-photo-abs img{
    width: 70px;
    border-radius: 50%;
}
#agent-info a{
    text-decoration: none;
    color: #5b442f;
}
#agent-info{
    background-color: white;
    font-size: 14px;
    color: #5b442f;
    display: flex;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #683c11;
    margin-left: 20px;
}
#agent-info ul{
    line-height: 1;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
/*#agent-info a, .agent-address{
    color: white;
}*/
.agent-address{
    font-size: 14px;
}
.agent-number img, .agent-email img{
    position: absolute;
}

/*.agent-number span, .agent-email span{
    margin-left: 20px;
}*/
.table.address{
    padding: 4px 0;
}
.plan-detail{
    display: flex;
    align-items: center;
}
.plan-detail>div{
    background-image: linear-gradient(to right, #f6e8cb6e , #f1f1f1);
    color: #9d5919;
    padding-left: 30px;
    padding-top: 25px;
    height: 100px;
    width: 170px;
}
/*.row-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}*/
/*.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}*/
.column{
    width: 50%;
    padding: 1px 0 1px;
    float: left;
    font-size: 12px;
}
.column strong {
    margin-left: 5px;
    float: left;
}

.column span {
    display:table-cell;
}
.selling-points{
    display: table;
    margin: 0 5px;
}
.w100{  width: 100% !important;  }



.branch-phone{
    width: 17%;
    float: right;
    margin-top: 70px;
    text-align: right;
    padding-right: 3px;
}
.branch-phone a{
    color: #5b442f;
    text-decoration: none;
}
.agent-address{
    margin-left: 5px;
    width: 81%;
    float: left;
    margin-top: 45px;

}
/*.agent-email{
    width: 50%;
}*/
.agent-jobtitle, .agent-email{
    font-size: 15px;
}
.agent-name{
    /*width: 50%;*/
    font-weight: 700;
}
.agent-jobtitle{
    /*width: 50%;*/
    font-weight: 500;
}
.agent-number{
    /*width: 50%;*/
    font-weight: 700;
}
.agent-name, .agent-number{
    font-size: 22px;
}
.agent-address, .branch-phone{
    font-size: 13px;
}

@media print
{
    .no-print, .no-print * {
        display: none !important;
    }
    .agent-email{
        font-size: 12px;
    }
    .agent-name{
        font-size: 18px;
    }

    .agent-address, .branch-phone{
        font-size: 12px;
    }
    .agent-jobtitle{
     font-size: 14px;
    }
    .agent-address{
        margin-top: 38px;
    }
}